<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8939065923961050" crossorigin="anonymous"></script>
    <title>Bem-vindo</title>
</head>
<body>
    <div class="welcome-container">
        <img src="/images/logo (1).png" alt="Ãcone" class="icon">
        <h1>Bem-vindo a Mr Bot Companhy</h1>
        <div class="loading-spinner"></div>
    </div>

    <script>
        // Simula um tempo de carregamento antes de redirecionar
        setTimeout(() => {
            window.location.href = '/dashboard';
        }, 3000);
    </script>
</body>
</html>
